/* defining the global variables */
:root{
    --primaryColor: #577D86;
    --backgroundColor: #B9EDDD;
    --titleFont:'Sacramento', cursive;
    --myTitleFont:'Dancing Script', cursive;
    --fontDefaultTextFont: 'Lato', sans-serif;
    --fontDefaultHeading: 'Montserrat', sans-serif; 
}

/* main css */

body{
    margin: 0px;
    color: var(--primaryColor);
    font-family: var(--fontDefaultHeading);
    line-height: 2;
}

h2 {
    margin: 0;
    font-size: 2.25em;  /* 1em = 16px */
    font-weight: 100;
    padding-bottom: 20px;
}

a{
    text-decoration: none;
    color:white;
}


hr{
    border: dotted 5px var(--backgroundColor);
    border-bottom: none;
    margin: 120px auto 120px auto;  /* TRBL */
    width: 5%;
}

.top-section{
    background-color: var(--backgroundColor);
    text-align: center;
    padding-top: 80px;
}

.bottom-section{
    background-color: var(--primaryColor);
    text-align: center;
    padding: 80px 0px;
    color: white;
}

.heading {
    font-family: var(--titleFont);
    font-size: 5rem;
    margin: 0;
}

.top-cloud{
    position: absolute;
    margin-block-start: -40px;
    margin-left: 350px;
    width: 100px;
}
.bottom-cloud{
    position: absolute;
    margin-block-start: 50px;
    margin-left: -200px;
    width: 100px;
}
.mountain{
    width: 400px;
}

.profile{
    display: flex;
    justify-content: center;
    margin: 100px auto 50px auto; /* T R B L */
}

.profile-pic{
    border-radius: 100%;
    width: 200px;
    /* display: block; */
    /* text-align: center; */
    /* margin-left: auto;
    margin-right: auto; */
    /* margin: auto; */
}

.middle-section{
    margin: 100px auto 100px auto;
    text-align: center;
    width: 50%;
}

.intro{
    width: 75%;
    margin: auto;
    
}

.skill-image{
    width: 150px;
}

.left{
    float: left;
    margin-right: 50px;
    
}

.right{
    float: right;
    margin-left: 50px;
    
}

.my-skills{
    margin:0px auto 100px auto;
}

.skills{
    margin: 100px auto 100px auto;
    text-align: left;
}

/* .contact{
    text-decoration: none;
    background-color: var(--primaryColor);
    background-image: linear-gradient(
        180deg, 
        var(--primaryColor),
        var(--backgroundColor)
    );
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 2.25rem;
    color: white;
}

.contact:hover{
    background-image: linear-gradient(
        180deg, 
        var(--backgroundColor),
        var(--primaryColor)
    );
} */

.contact {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.contact:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.social{
    margin: auto 50px;
}

.social:hover{
    color: var(--backgroundColor);
}

.social-container{
    margin-bottom: 50px;
}

.copyright{
    font-size: 0.75rem;
}
/* 
font-family: 'Dancing Script', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif; 
*/