body{
    background-color: skyblue;
}
div{
    /* width: 200px;
    height: 200px; */
    color: white;
    font-size: 3rem;
}
.container{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    flex: 80%;
    /* height: 500px; */
}

.box{
    width: 300px;
    height: 300px;
}

.red{
    background-color: red;
    font-size: 5rem;
    width:400px;
}
.green{
    background-color: green;
    height: 100px;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
    height: 600px;

}
.orange{
    background-color: orange;
}




/* 
320-480
768
1024
1200
> 
*/

/* @media (min-width:1201px){
    .red{
        background-color: orange;
    }
}
@media (max-width:1200px){
    .red{
        background-color: yellow;
    }
}
@media (max-width:1024px){
    .red{
        background-color: blue;
    }
}
@media (max-width:768px){
    .red{
        background-color: green;
    }
}
@media (min-width: 320px) and (max-width:480px){
    .red{
        background-color: red;
    }
}
@media screen and (prefers-color-scheme: dark){
    body{
        background-color: grey;
    }
} */


